@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');


/* 기본 사이드바 스타일 */
.vender-sidebar {
    width: 250px;
    background-color: #181414;
    color: #ffffff;
    height: calc(100vh - 40px);
    padding: 20px;
    position: fixed;
    left: 20px;
    top: 20px;
    box-shadow: 2px 0 5px rgba(141, 138, 123, 0.1);
    overflow-y: auto;
    border-radius: 16px;
    z-index: 10;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 사이드바가 열렸을 때 */
.vender-sidebar.open {
    transform: translateX(0);
}

/* 사이드바 프로필 영역 */
.vender-profile {
    text-align: center;
    margin-bottom: 30px;
}

.vender-profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* 사이드바 메뉴 스타일 */
.vender-menu {
    list-style: none;
    padding: 0;
}

.vender-menu li {
    padding: 15px 10px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 500;
    color: #ffffff;
    border-radius: 8px;
}

.vender-menu li.active,
.vender-menu li:hover {
    background-color: #444444;
    /* 사이드바 항목의 배경색을 어두운 회색으로 변경 */
    color: #ffffff;
    /* 호버 시 글자색 유지 */
}

/* 로그아웃 버튼 */
.exit-button {
    margin-top: 30px;
    background: #ff7777;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    /* 둥근 모서리 */
    transition: background 0.3s;
}

.exit-button:hover {
    background: #e74c3c;
    /* 호버 시 약간 밝게 변경 */
}

/* 오른쪽 메인 콘텐츠 스타일 수정 */

.vender-content {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    margin-left: 330px;
    padding: 20px;
    width: calc(100% - 310px);
    box-sizing: border-box;
    border-radius: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    min-height: 100vh;
    max-width: 1500px;
}

.sidebar-open .vender-content {
    margin-left: 250px;
}


/* 햄버거 메뉴 버튼 */
.hamburger-menu {
    display: none;
    font-size: 24px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

/* 모바일 스타일 */
@media (max-width: 768px) {
    .vender-content {
        margin-left: 0;
        /* 좌측 마진 제거 */
        width: 100%;
        /* 너비를 100%로 설정하여 꽉 차게 */
        border-radius: 0;
        /* 둥근 모서리 제거 */
        padding: 15px;
        /* 모바일에서의 패딩 조정 (필요에 따라 변경 가능) */
    }

    .hamburger-menu {
        display: block;
    }

    .vender-sidebar {
        transform: translateX(-110%);
    }

    .vender-sidebar.open {
        transform: translateX(0);
    }

    .sidebar-open .vender-content {
        margin-left: 0;
    }
}