/* 전체 레이아웃 정렬 */
.cake-design-detail {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* 메인 이미지 스타일 */
.cake-design-detail-imgs {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* 원하는 최대 너비 설정 */
}

.cake-design-detail-main-img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

/* 하단의 작은 이미지들 스타일 */
.cake-design-detail-sub-imgs {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 가능하게 설정 */
    gap: 8px;
    justify-content: flex-start; /* 왼쪽 정렬 */
    max-width: 400px; /* 원하는 너비에 맞게 조정 */
    margin-top: 10px;
  }
  
  .cake-design-detail-sub-imgs img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s;
  }
  
/* 설명 영역 스타일 */
.cake-design-detail-txt {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  line-height: 1.6;
  margin-left: 20px;
}

.cake-design-detail-txt h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.cake-design-detail-txt h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.cake-design-detail-txt p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  padding-bottom: 10px;
}

/* 버튼 스타일 */
.cake-design-detail-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.cake-design-detail-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cake-design-detail-buttons button:nth-child(1) {
  background-color: #4f46e5;
  color: white;
}

.cake-design-detail-buttons button:nth-child(2) {
  background-color: #f87171;
  color: white;
}

.cake-design-detail-buttons button:nth-child(3) {
  background-color: #a0aec0;
  color: white;
}

.cake-design-detail-buttons button:hover {
  transform: translateY(-2px);
}
