@charset "UTF-8";

.vender-insert-audition-wrap{
    width: 1200px;
    border: 2px solid #ddd;
    border-radius: 10px;
    
    margin: 20px;
    padding: 20px;
}
.insert-h1-box{
    width: 100%;
    padding:10px;
    border-bottom: 1px solid #000;
}
.vender-insert-audition-wrap h1{
    font-size: 40px;
    font-weight: bold;
}
.insert-search-img-box{
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.insert-h2-box{
    width: 100%;
    padding: 10px;
    
}
.insert-h2-box h2{
    font-size: 24px;
}
.insert-search-img-box h2{
    font-size: 24px;
    
}
.insert-search-img-box input{
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 8px;
}
.insert-recipt-box{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #000 ;

}
.insert-recipt-box .insert-audition-right-box{
    width: 50%;
    height: 350px;
    overflow-y: auto;  /* 높이 초과 시 수직 스크롤 생김 */

    
}
.appeal-design-text{
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-right: none;
}
 

.insert-recipt-box .insert-audition-left-box{
    width: 50%;
    height: 430px;
    overflow-y: auto;  /* 높이 초과 시 수직 스크롤 생김 */
}
.input-photo-box{
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input-photo-box .input-photo-box-line{
    border: 1px solid#000;
    height: 80%;
    width: 80%;
}

.insert-recipt-box .insert-audition-left-box{
    width: 50%;
    
    

}
/*요청사항박스*/
.appeal-design-text-RequestedTerm{
    border: 2px solid #ddd;
    border-radius: 10px;
    height: 150px;
    padding: 5px;
    overflow-y: auto;  /* 높이 초과 시 수직 스크롤 생김 */

}

.insert-product-alllist{
    margin-top: 10px;
    
}

/* ///////////////////*/
.insert-product-alllist-flex-box{
    display: flex;
    justify-content: space-between;

}
/*
.flex-box-left-product{
    background-color: aquamarine;
    width: 50%;
    border: 1px solid #ddd;
    padding: 10px 15px;
    height: 300px;
}

.flex-box-right-option{
    background-color: bisque;
    width: 50%;
    border: 1px solid #ddd;
    padding: 10px 15px;
    height: 300px;
}
    */
.choose-flex-box{
    display: flex;
    justify-content: space-between;
    
}
.choose-flex-box button{
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.choose-flex-box input{
    width: 1000px;
}
.insert-btn-box{
    margin-top: 10px;
    display: flex;
    justify-content: center;

    padding-top: 15px;
}
.insert-btn{
    width: 800px;
    padding: 8px 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 20px;

    display: flex;
    justify-content: center;
    text-align: center;
}