.user-cake-design-board-list {
  width: 100%;
  margin: 0 auto; /* 가로 가운데 정렬 */
}

.user-cake-design-main {
  max-width: 1000px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px 50px;
  margin: 0 auto;
  border: 0.5px solid #e8e8e8;
  transition: transform 0.3s;
}

/* 타이틀 스타일 */
.user-cake-design-title {
  font-size: 2.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: left; /* 웹사이트 느낌을 위해 왼쪽 정렬 */
  border-bottom: 2px solid #333; /* 타이틀 강조선 */
  padding-bottom: 10px;
}

/* 이미지 미리보기 스타일 */
.user-cake-design-imgs {
  display: flex;
  gap: 20px;
}

.user-cake-design-imgs img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease;
}

/* 폼 그룹 스타일 */
.user-cake-design-form-groups {
  margin-bottom: 28px;
}

.user-cake-design-form-groups label {
  font-size: 1.2em;
  color: #4a4a4a;
  font-weight: bold;
  margin-right: 10px;
}

.user-cake-design-form-groups input[type="text"] {
  margin-top: 10px;
}

.user-cake-design-form-groups textarea {
  margin-top: 10px;
}

/* 파일 입력 필드 스타일 */
.user-file-input-wrappers {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 12px;
}

.user-file-input-wrappers input[type="file"] {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #666;
}

.user-remove-button {
  margin-left: 10px;
  background-color: white;
  color: #4a4a4a;
  border: none;
  cursor: pointer;
  font-size: 1.6em;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.user-add-image-button {
  margin-top: 15px;
  background-color: white;
  color: #4a4a4a;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  width: auto;
  transition: background-color 0.3s ease;
}

/* 입력 필드 공통 스타일 */
.user-input-text {
  width: 100%;
  padding: 14px;
  font-size: 1em;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  color: #444;
}

.user-input-text:focus {
  outline: none;
  border-color: #aaa;
  background-color: #fff;
}

.user-ckae-design-btn-group {
  text-align: center;
}

/* 등록 버튼 스타일 */
.user-cake-design-add-button {
  width: 25%;
  padding: 15px 0;
  background-color: #ff85a1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  margin: 40px 10px;
  cursor: pointer;
}

/* 취소 버튼 스타일 */
.user-cake-design-cancel-button {
  width: 25%;
  padding: 15px 0;
  background-color: #ffffff;
  color: #666666;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  margin: 40px 10px;
  cursor: pointer;
}
