.audition-list-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.audition-list-container h2 {
  margin-bottom: 30px;
}

.audition-filter {
  margin-bottom: 20px;
}

.filter-button {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-right: 10px;
}

.filter-button.active-ongoing {
  background-color: #0056b3;
  color: white;
}

.filter-button.active-end {
  background-color: #ea4335;
  color: white;
}

.audition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.audition-table th,
.audition-table td {
  padding: 12px;

  text-align: center;
  border: none; /* 테이블, 헤더, 셀 모두 테두리를 제거 */
}

.audition-table td {
  max-width: 150px; /* 셀의 최대 너비를 설정 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  text-overflow: ellipsis; /* 말줄임표(...) 표시 */
}

.audition-table th {
  background-color: #f5f5f5;
}

.status-active {
  color: red;
  font-weight: bold;
}

.order-link {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

.review-button {
  margin-top: 5px;
  padding: 6px 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-audition-mypage-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

.user-audition-mypage-page-button,
.user-audition-mypage-prev-button,
.user-audition-mypage-next-button {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.user-audition-mypage-page-button.active {
  background-color: #ff6f61;
  color: white;
  font-weight: bold;
}

.go-to-ongoing-detail {
  text-decoration: underline;
}