.user-login-box {
    width: 400px;
    margin: auto;
    padding: 20px 0;
    text-align: center;
}

.user-login-box img {
    width: 200px;
}

.user-login-box h1 {
    font-size: 28px;
    margin-bottom: 30px;
    padding: 10px 0px;
}

.user-login-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.login-type-item {
    flex: 1;
    min-height: 80px; /* 버튼 높이를 일정하게 유지 */
    border: 1px solid #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color:#686868;
}

.login-type-item p {
    font-size: 11px;
    margin: 0; /* 기본 여백 제거 */
}

.user-loginform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.user-loginform form {
    width: 100%;
    max-width: 500px;
}

.user-loginform input {
    width: 100%;
    height: 55px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
     margin-top: -1px;
}

/* 첫 번째 input에는 margin-top을 주지 않습니다 */
.user-loginform input:first-of-type {
    margin-top: 0;
}

.user-loginform input:focus {
    color: #aaa;
}

.user-loginform input::placeholder {
    color: #aaa;
}

.user-loginform label {
    display: none;
}

.user-login-btn {
    margin-top: 20px;
}

.user-login-btn button {
    width: 100%;
    padding: 15px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

.user-login-id-save {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-input-chk-left {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    color: #686868;
    line-height: 1.5;
}

.user-input-chk-left input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    transform-origin: left;
    accent-color: #000000;
}

.user-txt-chk-right {
    display: flex;
    align-items: center;
}

.user-txt-chk-right a {
    font-size: 13px;
    font-weight: bold;
    color: #686868;
    margin-left: 10px;
    text-decoration: none;
    line-height: 1.5;
}

.user-txt-chk-right a:first-child::after {
    content: " | ";
    color: #686868;
    font-weight: normal;
    margin-left: 10px;
    line-height: 1;
}

#user-login-list button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    color: #ffffff;
    background-color: rgb(148, 175, 255);
}
