.user-signup-succ {
    width: 400px;
    margin: auto auto;
    padding: 20px 0;
    text-align: center;
}

.user-signup-succ img {
    width: 200px;
}

.user-signup-succ h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
}

.user-signup-succ p {
    padding-bottom: 5px;
}

.user-goto-loginform {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#user-goto-loginform-btn .user-goto-loginform a {
    padding: 10px 30px;
    color: #ffffff;
    background-color: black;
}