@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
#user-wrap.userMainFformContainer {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}
button {
    cursor: pointer;
}
.sy-user-main-title {
    margin-bottom: 20px;
    font-size:24px;
    font-weight: 600;
} 
.map-img-box {
    display: flex;
}
.map-con {
    flex-grow: 1;
}
.userMain-map-search {
    border-top: 1px solid #000;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.userMain-map-search select ,
.userMain-map-search input {
    border:0;
    width: calc(100% - 200px);
} 
.map-img {
    padding-right: 50px;
}
.map-img img {
    max-width: 400px;
}
.userMain-map-search select {
    width: 150px;
    margin-right: 50px;
}
.map-click {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px 0;
}
.map-click button{
    width: calc((100% - 40px) / 5);
    border: 1px solid #ddd;
    padding: 20px;
    font-size:16px;
    background: #fff;
}
.map-click button:hover {
    background-color: #000;
    color: #fff;
}

.category-box {
    padding: 50px 0;
}
.category-box ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.category-box ul button {
    border: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    flex:1;
    position: relative;
    padding: 20px 0;
    width: 200px;
}
.category-box ul button:hover {
    background-color: #fff;
    color: #000;
    border:0;
}
.category-box ul button:before {
    content:"";
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: 0.3s;
    position: absolute;
}
.category-box ul button:after {
    content:"";
    display: block;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: 0.3s;
    position: absolute;
}

.category-box ul button:hover:before ,
.category-box ul button:hover:after {
    width: 100%;
}
.allList-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.allList-box .all-product-item {
    border:1px solid #ddd;
    border-radius: 5px;
    width: calc((100% - 60px)/4);
    position: relative;
}
.allList-box  .allList-item {
    
    padding: 20px 20px 30px;
    
}
.allList-box img {
    width: 70%;
    margin-bottom: 20px;
}
.allList-box b {
    display: block;
    font-size:18px;
    position: relative;
    z-index: 12;
    cursor: pointer;
}
.allList-box p {
    margin-top: 10px;
    font-size:13px;
    position: relative;
    z-index: 12;
    cursor: pointer;
}
.list_hover_img {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /*transition: opacity 1s ease, transform 1s ease;  부드럽게 변화하도록 설정 */
    transition:0.7s;
    border-radius: 5px;
    overflow: hidden;
}


.allList-box .all-product-item:hover .list_hover_img {
    opacity: 1;
}
.allList-box .all-product-item:hover .list_hover_img img {
    max-width: inherit;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
