/* adminSidebar.css */

.admin-sidebar {
    width: 240px;
    background-color: #ffffff;
    color: #1e3a8a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-right: 1px solid #e5e7eb;
    border-radius: 5px;
}

.admin-sidebar .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #3b82f6;
}

/* 메뉴 구분선 스타일 */
.admin-sidebar .menu-divider {
    border: none;
    /* 기본 테두리는 없앱니다 */
    border-top: 1px solid #d1d5db;
    /* 연한 회색으로 구분선 추가 */
    margin: 1px 0;
    /* 위아래 여백 */
    width: 100%;
    /* 구분선 너비를 전체로 설정 */
}

.admin-sidebar .menu {
    list-style: none;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

.admin-sidebar .menu li {
    padding: 5px 0;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.admin-sidebar .menu li a {
    color: #1e3a8a;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.admin-sidebar .menu li.active a {
    background-color: #e0f2fe;
    color: #3b82f6;
    border-radius: 8px;
}

.admin-sidebar .menu li:hover a {
    background-color: #e0f2fe;
    color: #3b82f6;
    border-radius: 8px;
}

.admin-sidebar .logout-button {
    background-color: #ef4444;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: auto;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    font-weight: bold;
}

.admin-sidebar .logout-button:hover {
    background-color: #dc2626;
}